body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 1rem 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #1ABC9C;
  padding: 0.5rem;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.bio, .projects, .contact {
  margin-bottom: 3rem; /* Aumenta la separación entre secciones */
}

h2 {
  color: #2C3E50;
  background-color: #D3D3D3; /* Fondo gris */
  padding: 0.5rem;
  border-radius: 5px;
}

.project {
  margin-bottom: 1.5rem; /* Aumenta la separación entre proyectos */
}

.project a {
  color: #1ABC9C;
}

footer {
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  padding: 1rem 0;
}

